{% extends "app/base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main_content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 ">
      <h4>Order Summary</h4>
      <hr class="text-muted">
      <div class="card mb-2">
        {% for cart in cart_items %}
        <div class="card-body">
          <h5>Product : {{cart.product.title}}</h5>
          <p>Quantity : {{cart.quantity}}</p>
          <p class="fw-bold">Price : {{cart.total_price}} </p>
        </div>
        {% endfor %}
      </div>
      <div class="card mb-2">
        <div class="card-body">
          <p class="fw-bold">All Total Amount<span class="fw-lighter"><small> (including Shipping Charge)</small></span> is : Rs. {{total_amount}}</p>
        </div>
      </div>
      <div class="mt-2">
        <small>
          <p class="text-muted">Terms & Condition : Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque qui enim sint, sit rerum ad aliquid. Enim quam eius eligendi placeat culpa, aspernatur blanditiis cumque voluptatum pariatur necessitatibus, ad dolorem.</p>
        </small>
        
      </div>
    </div>
    <div class="col-sm-4 offset-sm-1 ">
      <h4>Select Shipping Address</h4>
      <hr class="text-muted">
      <form action="/paymentdone" id="myform">
        {% for add in address %}
        <div class="card">
          <div class="card-body">
            <h5>{{add.name}}</h5>
            <p>{{add.locality}}, {{add.city}}, {{add.state}}, {{add.city}}  - {{add.zipcode}}</p>
          </div>
        </div>
        <div class="form-check my-3 mx-2">
          <input class="form-check-input" type="radio" name="custid" id="custid{{forloop.counter}}" value="{{add.id}}">
          <label class="form-check-label fw-bold" for=" cust_id{{forloop.counter}}">Address: {{forloop.counter}}</label>
        </div>
        {% endfor %}

        <script src="https://checkout.razorpay.com/v1/checkout.js"
            data-key= "rzp_test_r7AUuO6jt1FnnT"
            data-amount= "{{totalamount}}"
            data-currency= "INR"
            data-image = "https://example.com/your_logo"
            data-order_id = "{{payment.id}}"
            data-prefill.name = "Gaurav Kumar"
            data-email.name = "gaurav.kumar@example.com"
            data-theme.color= "#3399cc">
        </script>
        <div class="text-end">
          
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold ">Payment</button>
        </div>
      
      </form>
      <style>
        .razorpay-payment-button {display : none;}
      </style>
    </div>   
  </div> 
   
</div>


{% endblock main_content %}

{% block payment_gateway %}
<script type='text/javascript'>
  $(document).ready(function(){
    $('.razorpay-payment-button').click()
  });
</script>
{% endblock payment_gateway %}